h1 {

    font-family: "Satisfy", cursive;
    text-align: center;

}


body {
        
    background-image: url("../images/memphis-colorful.png");
    /* background-size: cover; */
    /* background-repeat: no-repeat; */
}